[alias]
	br = branch
	st = status
	co = checkout
	cm = commit
	cp = cherry-pick
	fe = fetch
	pl = pull
	ps = push
	mg = merge

[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	filemode = false
