[alias]
	br = branch
	st = status
	co = checkout
	cm = commit
	cp = cherry-pick
	fe = fetch
	pl = pull
	ps = push
	mg = merge

[user]
	name = {{ .name }}
	email = {{ .email }}
{{- if default false .git_signing_enabled }}
	signingkey = {{ .git_signing_key }}
{{- end }}
[core]
	filemode = false
{{- if default false .git_signing_enabled }}
[gpg]
	format = ssh
[commit]
	gpgsign = true
{{- end }}
{{- $machineId := joinPath .chezmoi.homeDir ".coderabbit" "machine-id" }}
{{- if stat $machineId }}
[coderabbit]
	machineId = {{ output "cat" $machineId | trim }}
{{- end }}
